#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
# : ${XDG_CACHE_HOME:=$HOME/.cache}
direnv_layout_dir() {
    # local pwd_hash
    # pwd_hash=$(basename "$PWD")-$(echo -n "$PWD" | shasum | cut -d ' ' -f 1 | head -c 7)
    # echo "$XDG_CACHE_HOME/direnv/layouts/$pwd_hash"
    echo "$PWD/.direnv/$(hostname)"
}

source_env_if_exists /home/kathanal/lmu_eulitz/venv_eulitz/.envrc